* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  
  
  
}

.container {
  background-color: #3058ae;
  padding: 3em;
  width: 60%;
  margin: 0 auto;
}

.child {
  width: 40%;
  color: white;
}

.title {
  font-size: 2em;
  padding-bottom: 10px;
}

.para {
  font-size: 1em;
}
